#product-card {
    height: 599px;
    background: #44B26F;
    padding: 22px;
}

#buttons {
    width: 1340px;
    height: 70px;
    display: inline-flex;
}

#button_left {
    width: 200px;
    height: 100px;
    margin: 0 68% 0 0;
}

#button_right {
    width: 200px;
    height: 100px;
}

#logo_1 {
    position: relative;
    left: 25px;
    height: 25px;
    width: 25px;
    top: -54px;
}

#logo_2 {
    position: relative;
    left: 13px;
    height: 40px;
    width: 40px;
    top: -60px;
}

#products {
    color: #FFF;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin: 0;
}

.container {
    width: 1300px;
    height: 200px;
    text-align: center;
}


.btn-close {
    position: absolute;
    background: url(../../assets/Vector.png);
    width: 23px;
    height: 23px;
    border: 0;
    top: 10px;
    left: 285px;
}

.table_modal_confirm {
    position: absolute;
    top: 60px;
    left: 34%;
}