.table {
    width: 800px;
    margin-bottom: 20px;
    border-collapse: collapse;
    text-align: center;
    margin: 50px auto;
    font-size: 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#first {
    height: 50px;
    color: #726969;
    background: #0EC86F;
}

#second {
    height: 50px;
    color: #FFF;
    background: #D9D9D9;
}

#therd {
    height: 50px;
    color: #A58F8F;
    background: #0EC86F;
}

#last {
    color: black;
}

#icon {
    height: 15px;
    margin: 0 0 0 5px;
}